@import "../../styles/_variables.scss";

.footer {
  &-container {
    box-shadow: 0 2px 5px !important;

    .v-icon {
      &:hover {
        color: $red-primary;
      }
    }
  }
}

.v-footer {
  position: fixed !important;
  bottom: 0;
}
