<v-container class="nav-container">
    <v-app-bar dense class="">
        <v-toolbar-title @click="$router.push('/')">RTV Example</v-toolbar-title>

        <a @click="$router.push('/')" class="text-blue">Home</a>
        <a @click="$router.push('/state-demo')" class="text-blue">State Demo</a>
        <a @click="$router.push('/about')" class="text-blue">About</a>

        <v-spacer></v-spacer>

        <v-btn icon>
            <v-icon>mdi-magnify</v-icon>
        </v-btn>

        <v-btn icon>
            <v-icon>mdi-heart</v-icon>
        </v-btn>

        <v-btn icon>
            <v-icon>mdi-dots-vertical</v-icon>
        </v-btn>
    </v-app-bar>
</v-container>
