<v-container>
    <v-row class="text-center">
        <v-col
                class="mb-5"
                cols="12"
        >
            <h2 class="headline font-weight-bold mb-5">
                Welcome to the RTV Example Demo!
            </h2>

            <v-container v-if="!errorMessage">
                <v-table
                        fixed-header
                >
                    <thead>
                        <tr>
                            <th class="text-center">
                                <!-- Empty on purpose -->
                            </th>
                            <th class="text-center">
                                Name
                            </th>
                            <th class="text-center">
                                Description
                            </th>
                            <th class="text-center">
                                Price
                            </th>
                            <th class="text-center">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                                v-for="item in products"
                                :key="item.name"
                        >
                            <td class="text-center"><img :src="item.imageLink"/></td>
                            <td class="text-center">{{ item.name }}</td>
                            <td class="text-center">{{ item.description }}</td>
                            <td class="text-center">{{ item.price }}</td>
                            <td class="text-center">
                                <v-btn
                                        icon="mdi-delete"
                                        variant="plain"
                                        @click=""
                                >
                                    Remove
                                </v-btn>
                            </td>
                        </tr>
                    </tbody>
                </v-table>
            </v-container>
            <v-container v-else>
                {{ errorMessage }}
            </v-container>
        </v-col>
    </v-row>
</v-container>
